/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: sans-serif;
  padding: 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  width: 371px;
  height: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: calc((100% - 48px) / 4);
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}


.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.loader.active {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.load-more.hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 20px auto;
}

.loader {
  display: none;
}

.loader.active {
  display: block;
}